body {
    background: #f8f8f8
}
#board, #multiboard {
  width:600px;
  height: 600px;
  background: black;
  /*display: none;*/
  /*transform: rotate(270deg);*/
}
.square div {
}
.overlay {
  position:absolute;
  z-index:5;
}
.overlay div {
    position: relative;
    width : 600px;
    height : 600px;
}
#snake1 {
  margin:310px 0 0 300px;
  position: absolute;
}
#snake2 {
  margin-left: 100px;
  position: absolute;
}
#snake3 {
  margin: 65px;
  position: absolute;
  transform: rotate(72deg);
}
#snake4 {
    margin-top: 115px;
    margin-left: 114px;
    position: absolute;
}
#snake5 {
    margin-top: 210px;
    height: 300px;
    position: absolute;
}
#ladder1 {
  margin-top: 0;
  margin-left: 285px;
  position: absolute;
  height: 255px;
  transform: rotate(-34deg);
}
#ladder2 {
  margin-bottom: 100px;
  margin-top: 111px;
  margin-left: 409px;
  transform: rotate(24deg);
  position: absolute;
  height: 501px;
}
#ladder3 {
  margin-top: 180px;
  margin-left: 45px;
  position: absolute;
}
.square {
  width: 60px;
  height: 60px;
  float: left;
  color: white;
  padding: 0px 0 0 15px;
}
.square-orange {
  background: #fb0d5e !important;
}
.square-red {
  background: #3c16e9 !important;
}
.circle {
	width: 19px;
	height: 19px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /*display: none;*/
}
.circle2 {
	width: 19px;
	height: 19px;
	background: blue;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  /*display: none;*/
}
.navbar-brand {
  cursor: pointer;
}
.navbar2 {
  border-bottom: 1px solid #40ABCD;
}
.navbar2 a {
  text-decoration: none;
  font-size: 12pt;
  margin-right: 25px;
}
.btn {
  margin:0 15px 15px 0;
}
#throwcountSingle {
  margin-top: 25px;
  /*display: none;*/
}
#playername {
  display: none;
}
.warning {
  color: red;
  display: none;
}
/*Multiplayer*/
.multi-box {
  margin-bottom: 25px;
}

.active {
  background: lightgreen;
}
#winner {
  cursor: pointer;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.result {
  margin-right: 15px;
  float: left;
}
.box {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  min-width: 550px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  float: left;
}
.col-md-2 {
  padding: 0;
}
.db {
  display: block;
}
